* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #94abc0;
  padding: 50px;
}
.heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 50px;
}
